body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

h1 {
  color: #333;
}

#financas {
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ddd;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
